.content-container {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;

  .title {
    text-align: center;
    display: inline-block;
  }

  .title-container {
    margin: 0 auto;
    text-align: center;
  }

  .sockets {
    display: inline;
    float: right;
  }

  .websockets-disconnect {
    color: red;
  }

  .websockets-connect {
    color: green;
  }

  .call-to-action {
    text-align: right;
  }
}