.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

rect.pane {
  cursor: move;
  fill: none;
  pointer-events: all;
}

path.line {
  fill: none;
  stroke: black;
  stroke-width: 1px;
}

.brush {
  fill: #0f0;
  opacity: .5;
}

.extent {
  fill: #0f0;
}