svg {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: magenta;
  stroke-width: 1.5px;
  // clip-path: url(#clip);

}

circle.point {
  fill: black;
  // clip-path: url(#clip);
}

#focus {
  width: 100%
}

#context {
  width: 100%
}