#data-table {

  table {
    border-collapse: separate;
    // width: 80%;
    margin: 0 auto;    
  }

  th {
    text-align: left;
  }

  td {
    padding: 10px 5px;
  }

  tbody {
    
    tr {
      background: #f0f3f5;
      // border-bottom: 1px solid black;

      &:hover {
        opacity: .7;
      }

      &:nth-child(even) {
        background: white;
      }

    }    
  }

}