#dc-data-table {

  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;

  .dc-table-group {
    display: none;
  }

  th {
    text-align: left;
  }

  td {
    padding: 5px;
  }

  tbody {
    
    tr {
      background: lightgrey;

      &:hover {
        opacity: .7;
      }

      &:nth-child(even) {
        background: rgba(204, 204, 204, .5);
      }

    }    
  }

}